alabaster
Babel
black
certifi
charset-normalizer
click
commonmark
docutils
flake8
idna
imagesize
Jinja2
MarkupSafe
mypy-extensions
packaging
pathspec
platformdirs
pluggy>=1.0.0
pycodestyle
pyflakes
Pygments
pytz
recommonmark
requests
snowballstemmer
Sphinx>=4.2.0
sphinx-rtd-theme>=1.2.0
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
tomli
urllib3
